.nunito{
    font-family: 'Nunito', sans-serif;
}


$body-font-family: "Nunito", sans-serif;
$heading-font-family: "Nunito";
$font-size-root: 18px;
$font-family: "Nunito", sans-serif;

@import '~vuetify/src/styles/styles.sass';
